<!-- sets html document up -->
<!DOCTYPE html>
<!-- sets language to english -->
<html lang ="en">
<!-- sets unicode standard -->
<meta charset = "UTF-8"/>

<head>
    <!-- links stylesheet to html  -->
    <link rel ="stylesheet" href="static/EHR CSS.css">
</head>

<body>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  
    <form action="" method="post" class="loginForm">
    <div>
        <h1> MEDIRecord </h1>
        {% if error %}
            <p class ="loginError"> {{error}} </p>
        {% endif %}
        <div>
            <div>
            <label for="email" class="email">
                Email:
            </label>
            </div>
            <input type="email" class="emailInput" name="email" placeholder="Enter your email" required>
        </div>
        <div>
            <div>
            <label for="password" class="password">
                Password:
            </label>
            </div>
            <input type="password" class="passwordInput" name ="password" placeholder="Enter your password" required>
        </div>
        <button type ="submit" class="loginButton"> Login </button>
    </div>

  </form>  
</body>
</html>